<div class="bio-tab">
	{{#if data.bio}}
	<div class="section flex row space-between">
		<h1>{{localize "FLBR.HEADER.YearsOnTheForce"}}</h1>
		<input type="text" name="data.bio.yearsOnTheForce" value="{{data.bio.yearsOnTheForce}}" data-dtype="Number"/>
	</div>
	<div class="section">
		<h1>{{localize "FLBR.HEADER.Appearance"}}</h1>
		{{editor content=data.bio.appearance target="data.bio.appearance" owner=owner button=true editable=editable}}
	</div>
	<div class="section">
		<h1>{{localize "FLBR.HEADER.KeyMemory"}}</h1>
		{{editor content=data.bio.keyMemory target="data.bio.keyMemory" owner=owner button=true editable=editable}}
	</div>
	<div class="section">
		<h1>{{localize "FLBR.HEADER.KeyRelationship"}}</h1>
		{{editor content=data.bio.keyRelationship target="data.bio.keyRelationship" owner=owner button=true editable=editable}}
	</div>
	<div class="section">
		<h1>{{localize "FLBR.HEADER.Home"}}</h1>
		{{editor content=data.bio.keyRelationship target="data.bio.keyRelationship" owner=owner button=true editable=editable}}
	</div>
	{{/if}}
</div>