<div class="inventory-tab">
	{{#if isPC}}
		<div class="special-gear">
			{{!-- <div class="favored-gear boxed-property">
				<h3>{{localize "FLBR.HEADER.FavoredGear"}}</h3>
				<input type="text" name="system.favoredGear" value="{{system.favoredGear}}"/>
			</div> --}}
			<div class="signature-item boxed-property">
				<h3>{{localize "FLBR.HEADER.SignatureItem"}}</h3>
				<div class="flex row">
					<input type="text" name="system.signatureItem.name" value="{{system.signatureItem.name}}" class="flex-1"/>
					<input type="checkbox" name="system.signatureItem.used" data-tooltip="{{localize "FLBR.SignatureItemUsedCheckboxHint"}}" {{checked system.signatureItem.used}}/>
				</div>
			</div>
		</div>
	{{/if}}

	<div class="inventory boxed-property">
		<h3>{{localize "FLBR.HEADER.Inventory"}}{{createNewItemButton "generic"}}</h3>
	{{> systems/blade-runner/templates/actor/inventory-partial.hbs items=actor.itemTypes.generic wrap=true}}
	</div>

	{{#if isPC}}
		<div class="meta-currencies flex row space-between">
			<div class="meta-currency-promotion boxed-property">
				<h4>{{localize "FLBR.HEADER.PromotionPoints"}}<span style="float: right;">{{system.metaCurrencies.promotion}}</span></h4>
				{{boxes "system.metaCurrencies.promotion" value=system.metaCurrencies.promotion min=0 max=config.maxPromotionPoints}}
			</div>
			<div class="meta-currency-humanity boxed-property">
				<h4>{{localize "FLBR.HEADER.HumanityPoints"}}<span style="float: right;">{{system.metaCurrencies.humanity}}</span></h4>
				{{boxes "system.metaCurrencies.humanity" value=system.metaCurrencies.humanity min=0 max=config.maxHumanityPoints}}
			</div>
			<div class="meta-currency-chinyen boxed-property">
				<h4>{{localize "FLBR.HEADER.ChinyenPoints"}}<span style="float: right;">{{system.metaCurrencies.chinyen}}</span></h4>
				{{boxes "system.metaCurrencies.chinyen" value=system.metaCurrencies.chinyen min=0 max=config.maxChinyenPoints}}
			</div>
		</div>
	{{/if}}
</div>
