<div class="bio-tab container">
	<div class="boxed-property bio-notes">
		<h3>{{localize "FLBR.HEADER.Notes"}}</h3>
		<div class="bio-editor">
			{{{editor system.description target="system.description" button=true editable=editable}}}
		</div>
	</div>
	{{#if system.bio}}
		<div class="boxed-property">
			<h3>{{localize "FLBR.HEADER.Cover"}}</h3>
			<div class="bio-editor">
				{{{editor system.bio.cover target="system.bio.cover" button=true editable=editable}}}
			</div>
		</div>
		<div class="boxed-property">
			<h3>{{localize "FLBR.HEADER.KeyRelationship"}}</h3>
			<div class="bio-editor">
				{{{editor system.bio.keyRelationship target="system.bio.keyRelationship" button=true editable=editable}}}
			</div>
		</div>
		<div class="boxed-property">
			<h3>{{localize "FLBR.HEADER.CoverStatus"}}</h3>
			<div class="bio-editor">
				{{{editor system.bio.coverStatus target="system.bio.coverStatus" button=true editable=editable}}}
			</div>
		</div>
		<div class="boxed-property">
			<h3>{{localize "FLBR.HEADER.Handler"}}</h3>
			<div class="bio-editor">
				{{{editor system.bio.handler target="system.bio.handler" button=true editable=editable}}}
			</div>
		</div>
		<div class="boxed-property">
			<h3>{{localize "FLBR.HEADER.Home"}}</h3>
			<div class="bio-editor">
				{{{editor system.bio.home target="system.bio.home" button=true editable=editable}}}
			</div>
		</div>
		<div class="boxed-property">
			<h3>{{localize "FLBR.HEADER.Appearance"}}</h3>
			<div class="bio-editor">
				{{{editor system.bio.appearance target="system.bio.appearance" button=true editable=editable}}}
			</div>
		</div>
		<div class="boxed-property bio-notes">
			<h3>{{localize "FLBR.HEADER.Hideout"}}</h3>
			<div class="bio-editor">
				{{{editor system.bio.hideout target="system.bio.hideout" button=true editable=editable}}}
			</div>
		</div>
	{{/if}}
</div>
