<div class="attributes-and-skills">
	<div class="stats-list">
		{{#each data.attributes as | attribute attrKey |}}
			<div class="stat-blok stat-blok-{{attrKey}}">
				<h4 class="die-rating">{{localize "FLBR.HEADER.Rating"}}</h4>
				<h4 class="die-size">{{localize "FLBR.HEADER.DieSize"}}</h4>
				<div class="attribute-name">
					<a class="stat-roll" data-attribute="{{attrKey}}">{{localize (concat "FLBR.ATTRIBUTE." (toUpperCase attrKey))}}</a>
				</div>
				<div class="attribute-score">
					{{scoreSelector (concat "data.attributes." attrKey ".value") selected=attribute.value}}
				</div>
				<div class="attribute-size">
					<div class="boxed-value stat-roll rollable" data-attribute="{{attrKey}}">
						{{#if (lte attribute.value 0)}}
							{{localize "FLBR.NO_VALUE"}}
						{{else}}
							{{localize "FLBR.D"}}{{attribute.value}}
						{{/if}}
					</div>
				</div>
				{{!-- Each skills under the attribute --}}
				{{#each @root.data.skills as | skill skillKey |}}
					{{#if (eq attrKey (lookup @root.config.skillMap skillKey))}}
						<div class="skill-name">
							<a class="stat-roll" data-skill="{{skillKey}}" data-attribute="{{attrKey}}">{{localize (concat "FLBR.SKILL." (capitalize skillKey))}}</a>
						</div>
						<div class="skill-score">
							{{scoreSelector (concat "data.skills." skillKey ".value") selected=skill.value}}
						</div>
						<div class="skill-size">
							<div class="boxed-value stat-roll rollable" data-skill="{{skillKey}}" data-attribute="{{attrKey}}">
								{{#if (lte skill.value 0)}}
									{{localize "FLBR.NO_VALUE"}}
								{{else}}
									{{localize "FLBR.D"}}{{skill.value}}
								{{/if}}
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		{{/each}}
		{{!-- Finally, we add a last skill: Driving (no attribute) --}}
		<div class="stat-blok stat-blok-{{config.vehicleAttribute}}">
			<div class="skill-name last">
				<a class="stat-roll" title="{{localize "FLBR.ATTRIBUTE.MVR"}}" data-skill="{{config.vehicleSkill}}" data-attribute="{{config.vehicleAttribute}}">*{{localize (concat "FLBR.SKILL." (capitalize config.vehicleSkill))}} {{{config.Icons.buttons.vehicle}}}</a>
			</div>
			<div class="skill-score">
				{{scoreSelector (concat "data.skills." config.vehicleSkill ".value") selected=driving}}
			</div>
			<div class="skill-size">
				<div class="boxed-value stat-roll rollable" data-skill="{{config.vehicleSkill}}" data-attribute="{{config.vehicleAttribute}}">
					{{#if (lte driving 0)}}
						{{localize "FLBR.NO_VALUE"}}
					{{else}}
						{{localize "FLBR.D"}}{{driving}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="specialties">
		<h3>{{localize "FLBR.HEADER.Specialties"}}{{createNewItemButton "specialty"}}</h3>
{{> systems/blade-runner/templates/actor/character/inventory-partial.hbs items=actor.itemTypes.specialty wrap=true}}
	</div>
	<div class="augments">
		<h3>{{localize "FLBR.HEADER.Augments"}}{{createNewItemButton "upgrade"}}</h3>
{{> systems/blade-runner/templates/actor/character/inventory-partial.hbs items=actor.itemTypes.upgrade wrap=true}}
	</div>
</div>