<div class="stats-tab">
	<div class="attributes-and-skills">
		<h1>{{localize "FLBR.HEADER.AttributesAndSkills"}}</h1>
		<div class="stats-list flex row">
		{{#each data.attributes as | attribute attrKey |}}
			<div class="stat-blok stat-blok-{{attrKey}}">
				<div class="stat-blok-header flex row align-end">
					<h4 class="flex-1">{{localize "FLBR.HEADER.Rating"}}</h4>
					<h4>{{{localize "FLBR.HEADER.DieSize"}}}</h4>
				</div>
				<div class="stat-blok-body">
					<div class="stat-attribute flex row align-end">
						<h2 class="flex-1">{{localize (concat "FLBR.ATTRIBUTE." (toUpperCase attrKey))}}</h2>
						<div class="attribute-score">
							{{scoreSelector (concat "data.attributes." attrKey ".value") selected=attribute.value}}
						</div>
						<div class="attribute-size rollable" data-attribute="{{attrKey}}">
							{{#if (lte attribute.value 0)}}
								{{localize "FLBR.NO_VALUE"}}
							{{else}}
								{{localize "FLBR.D"}}{{attribute.value}}
							{{/if}}
						</div>
					</div>
					{{!-- Each skills under the attribute --}}
					{{#each @root.data.skills as | skill skillKey |}}
						{{#if (eq attrKey (lookup @root.config.skillMap skillKey))}}
							<div class="stat-skill skill-{{skillKey}} flex row align-end">
								<h2 class="flex-1">{{localize (concat "FLBR.SKILL." (capitalize skillKey))}}</h2>
								<div class="skill-score">
									{{scoreSelector (concat "data.skills." skillKey ".value") selected=skill.value}}
								</div>
								<div class="skill-size rollable" data-skill="{{skillKey}}">
									{{#if (lte skill.value 0)}}
										{{localize "FLBR.NO_VALUE"}}
									{{else}}
										{{localize "FLBR.D"}}{{skill.value}}
									{{/if}}
								</div>
							</div>
						{{/if}}
					{{/each}}
				</div>
			</div>
		{{/each}}
		</div>
	</div>
	<div class="talents flex row">
		<div class="specialties">
			<h2>{{localize "FLBR.HEADER.Specialties"}}</h2>
{{> systems/blade-runner/templates/actor/character/inventory.hbs actor.itemTypes.specialty}}
		</div>
		<div class="augments">
			<h2>{{localize "FLBR.HEADER.Augments"}}</h2>
{{> systems/blade-runner/templates/actor/character/inventory.hbs actor.itemTypes.upgrade}}
		</div>
	</div>
</div>