<form autocomplete="off">
  {{#if (eq object.type "character")}}

    <div class="form-group">
      <label>{{localize "FLBR.SHEET_CONFIG.CharacterSubtype"}}</label>
      <select name="system.subtype">
        {{selectOptions types selected=object.system.subtype localize=true}}
      </select>
      <p class="notes">{{localize "FLBR.SHEET_CONFIG.CharacterSubtypeHint"}}</p>
    </div>

    <hr/>

    <div class="form-group">
      <label>{{localize "FLBR.SHEET_CONFIG.HealthMaxModifier"}}</label>
      <input type="text" name="system.health.mod" value="{{numberFormat object.system.health.mod sign=true}}" data-dtype="Number"{{#unless isGM}} disabled{{/unless}}/>
      <p class="notes">{{localize "FLBR.SHEET_CONFIG.HealthMaxModifierHint"}}</p>
    </div>
    {{!-- <div class="form-group">
      <label>{{localize "FLBR.SHEET_CONFIG.HealthPermanentLoss"}}</label>
      <input type="number" name="system.health.permanentLoss" value="{{object.system.health.permanentLoss}}" max="0"{{#unless isGM}} disabled{{/unless}}/>
      <p class="notes">{{localize "FLBR.SHEET_CONFIG.HealthPermanentLossHint"}}</p>
    </div> --}}

    {{#if (eq object.system.subtype "pc")}}
      <div class="form-group">
        <label>{{localize "FLBR.SHEET_CONFIG.ResolveMaxModifier"}}</label>
        <input type="text" name="system.resolve.mod" value="{{numberFormat object.system.resolve.mod sign=true}}" data-dtype="Number"{{#unless isGM}} disabled{{/unless}}/>
        <p class="notes">{{localize "FLBR.SHEET_CONFIG.ResolveMaxModifierHint"}}</p>
      </div>
      <div class="form-group">
        <label>{{localize "FLBR.SHEET_CONFIG.ResolvePermanentLoss"}}</label>
        <input type="number" name="system.resolve.permanentLoss" value="{{object.system.resolve.permanentLoss}}" max="0"{{#unless isGM}} disabled{{/unless}}/>
        <p class="notes">{{localize "FLBR.SHEET_CONFIG.ResolvePermanentLossHint"}}</p>
      </div>
    {{/if}}

    <hr/>

    <div class="form-group">
      <label>{{localize "FLBR.SHEET_CONFIG.Maneuverability"}}</label>
      {{scoreSelector "system.attributes.mvr.value" selected=object.system.attributes.mvr.value}}
      <p class="notes">{{localize "FLBR.SHEET_CONFIG.ManeuverabilityHint"}}</p>
    </div>

  {{/if}}

  <hr/>

  <div class="form-group">
    <label>{{localize "FLBR.SHEET_CONFIG.UnlimitedPush"}}</label>
    <input type="checkbox" name="flags.bladerunner.unlimitedPush" {{checked object.flags.bladerunner.unlimitedPush}} />
    <p class="notes">{{localize "FLBR.SHEET_CONFIG.UnlimitedPushHint"}}</p>
  </div>

  <hr/>

  <div class="form-group">
    <label>{{localize "SHEETS.ThisSheet"}}</label>
    <select name="sheetClass">
      {{selectOptions sheetClasses selected=sheetClass blank=blankLabel}}
    </select>
    <p class="notes">{{localize "SHEETS.DocumentSheetHint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "Default"}} <strong>{{type}}</strong> {{localize "Sheet"}}</label>
    <select name="defaultClass"{{#unless isGM}} disabled{{/unless}}>
      {{selectOptions sheetClasses selected=defaultClass}}
    </select>
    <p class="notes">{{localize "SHEETS.TypeSheetHint"}}</p>
  </div>

  <button type="submit" name="submit" class="dialog-button">
    <i class="fas fa-save"></i> {{localize "SHEETS.Save"}}
  </button>
</form>
