<div class="blade-runner chat-card actor-damage">
	<div class="card-content">
		{{#if (gt damage 0)}}
			<p>
				{{localize "FLBR.CHAT.DamageDealt" name=name amount=damage}}
				{{#if broken}}
					<br/>
					<span class="broken">
						{{{config.Icons.buttons.lethal}}} {{localize "FLBR.Broken"}}
					</span>
				{{/if}}
			</p>
		{{else}}
			<p>{{localize "FLBR.CHAT.NoDamageDealt" name=name}}</p>
		{{/if}}
		{{#if armored}}
			<hr/>
			<p class="notes">
				<small>
					{{localize "FLBR.CHAT.InitialDamageDealt" damage=initialDamage}} 
					{{#if (gt damage 0)}}
						{{#if (eq damage initialDamage)}}
							{{localize "FLBR.CHAT.ArmorNoEffect"}}
						{{else}}
							{{localize "FLBR.CHAT.ArmorDeflectedDamage" damage=deflectedDamage}}
						{{/if}}
					{{else}}
						{{localize "FLBR.CHAT.ArmorDeflectedAllDamage"}}
					{{/if}}
				</small>
			</p>
		{{/if}}
	</div>
</div>