<form class="{{cssClass}}" autocomplete="off">
  <div class="character">
    <div class="character-bio">
      {{#each data.attributes as | attribute key |}}
      <p>{{key}}: {{attribute.value}}</p>
      {{/each}}
      {{#each data.skills as | skill key |}}
      <p>{{key}}: {{skill.value}}</p>
      {{/each}}
    </div>
  </div>
</form>