<form class="{{cssClass}}{{#if actor.isBroken}} broken{{/if}}" autocomplete="off">

	{{!-- SHEET HEADER --}}

	<div class="sheet-header">
		<div class="container-header">

			<div class="avatar">
				<img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
			</div>

			<div class="actor-name">
				<input type="text" name="name" value="{{actor.name}}"/>
			</div>

			<div class="nature boxed-property container">
				<h3>{{localize "FLBR.Nature"}}</h3>
				<select name="data.nature" title="{{localize "FLBR.NatureHint"}}"{{#unless isGM}} disabled{{/unless}}>
					{{selectOptions config.natures selected=data.nature localize=true}}
				</select>
			</div>
			
			<div class="capacities">
				{{#if data.health}}
					<div class="capacity-health boxed-property{{#if (lte data.health.value 0)}} broken{{else if (lte data.health.ratio 0.5)}} half{{/if}}">
						<h3>
							{{localize "FLBR.HEADER.Health"}}
							{{#if (lte data.health.value 0)}}
								<b>({{localize "FLBR.BrokenByDamage"}})</b>
							{{/if}}
							<span class="capacity-rating">{{data.health.value}}/{{data.health.max}}</span>
						</h3>
						{{boxes "data.health.value" value=data.health.value min=0 max=data.health.max loss=data.health.permanentLoss}}
					</div>
				{{/if}}
				{{#if (and data.resolve isPC)}}
					<div class="capacity-resolve boxed-property{{#if (lte data.resolve.value 0)}} broken{{else if (lte data.resolve.ratio 0.5)}} half{{/if}}">
						<h3>
							{{localize "FLBR.HEADER.Resolve"}}
							{{#if (lte data.resolve.value 0)}}
								<b>({{localize "FLBR.BrokenByStress"}})</b>
							{{/if}}
							<span class="capacity-rating">{{data.resolve.value}}/{{data.resolve.max}}</span>
						</h3>
						{{boxes "data.resolve.value" value=data.resolve.value min=0 max=data.resolve.max loss=data.resolve.permanentLoss}}
					</div>
				{{/if}}
			</div>

			<div class="archetype">
				<input list="list-of-archetypes" type="text" name="data.archetype" value="{{data.archetype}}"/>
				<datalist id="list-of-archetypes">
					{{selectOptions config.archetypes localize=true}}
				</datalist>
			</div>

		</div>
	</div>

	{{!-- SHEET TABS --}}

	<div class="sheet-tabs" data-group="primary">
		<a class="sheet-tab" data-tab="stats">{{{config.Icons.tabs.stats}}}&nbsp;{{localize "FLBR.TAB.Stats"}}</a>
		<a class="sheet-tab" data-tab="mods">{{{config.Icons.tabs.mods}}}&nbsp;{{localize "FLBR.TAB.Mods"}}</a>
		<a class="sheet-tab" data-tab="combat">{{{config.Icons.tabs.combat}}}&nbsp;{{localize "FLBR.TAB.Combat"}}</a>
		<a class="sheet-tab" data-tab="inventory">{{{config.Icons.tabs.inventory}}}&nbsp;{{localize "FLBR.TAB.Inventory"}}</a>
		<a class="sheet-tab" data-tab="bio">
			{{{config.Icons.tabs.bio}}}&nbsp;
			{{#if isPC}}
				{{localize "FLBR.TAB.Bio"}}
			{{else if isNPC}}
				{{localize "FLBR.HEADER.Notes"}}
			{{/if}}
		</a>
	</div>

	{{!-- SHEET BODY --}}

	<div class="sheet-body">
		<div class="tab" data-group="primary" data-tab="stats">
{{> systems/blade-runner/templates/actor/character/sheet-tabs/stats-tab.hbs}}
		</div>
		<div class="tab" data-group="primary" data-tab="mods">
{{> systems/blade-runner/templates/actor/character/sheet-tabs/mods-tab.hbs}}
		</div>
		<div class="tab" data-group="primary" data-tab="combat">
{{> systems/blade-runner/templates/actor/character/sheet-tabs/combat-tab.hbs}}
		</div>
		<div class="tab" data-group="primary" data-tab="inventory">
{{> systems/blade-runner/templates/actor/character/sheet-tabs/inventory-tab.hbs}}
		</div>
			<div class="tab" data-group="primary" data-tab="bio">
				{{#if isPC}}
{{> systems/blade-runner/templates/actor/character/sheet-tabs/bio-tab.hbs}}
				{{else if isNPC}}
					<div class="boxed-property npc-notes">
						{{editor content=data.description target="data.description" owner=owner button=true editable=editable}}
					</div>
				{{/if}}
			</div>

	</div>

	{{!-- SHEET FOOTER --}}

	{{!-- <div class="sheet-footer"></div> --}}

</form>
