<form class="{{cssClass}}" autocomplete="off">

	{{!-- SHEET HEADER --}}

	<div class="sheet-header">
		<div class="container-header">

			<div class="avatar">
				<img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
			</div>
			
			<div class="capacities">
				{{#if data.health}}
					<div class="capacity-health boxed-property">
						<h3>{{localize "FLBR.HEADER.Health"}} <span>{{data.health.value}}/{{data.health.max}}</span></h3>
						{{boxes "data.health.value" value=data.health.value min=0 max=data.health.max}}
					</div>
				{{/if}}
				{{#if data.resolve}}
					<div class="capacity-resolve boxed-property">
						<h3>{{localize "FLBR.HEADER.Resolve"}} <span>{{data.resolve.value}}/{{data.resolve.max}}</span></h3>
						{{boxes "data.resolve.value" value=data.resolve.value min=0 max=data.resolve.max}}
					</div>
				{{/if}}
			</div>

			<div class="archetype">
				<input list="list-of-archetypes" type="text" name="data.archetype" value="{{data.archetype}}"/>
				<datalist id="list-of-archetypes">
					{{selectOptions config.archetypes localize=true}}
				</datalist>
			</div>

{{!-- <div class="nature">
	<select name="data.nature">
		{{selectOptions config.natures selected=data.nature localize=true}}
	</select>
</div> --}}
			<div class="actor-name">
				<input type="text" name="name" value="{{actor.name}}"/>
			</div>

		</div>
	</div>

	{{!-- SHEET TABS --}}

	<div class="sheet-tabs" data-group="primary">
		<a class="sheet-tab" data-tab="stats">{{{config.Icons.tabs.stats}}}&nbsp;{{localize "FLBR.TAB.Stats"}}</a>
		<a class="sheet-tab" data-tab="mods">{{{config.Icons.tabs.mods}}}&nbsp;{{localize "FLBR.TAB.Mods"}}</a>
		<a class="sheet-tab" data-tab="combat">{{{config.Icons.tabs.combat}}}&nbsp;{{localize "FLBR.TAB.Combat"}}</a>
		<a class="sheet-tab" data-tab="inventory">{{{config.Icons.tabs.inventory}}}&nbsp;{{localize "FLBR.TAB.Inventory"}}</a>
		<a class="sheet-tab" data-tab="bio">{{{config.Icons.tabs.bio}}}&nbsp;{{localize "FLBR.TAB.Bio"}}</a>
	</div>

	{{!-- SHEET BODY --}}

	<div class="sheet-body">
		<div class="tab tab-stats" data-group="primary" data-tab="stats">
{{> systems/blade-runner/templates/actor/character/sheet-tabs/stats-tab.hbs}}
		</div>
		<div class="tab tab-mods" data-group="primary" data-tab="mods">
{{> systems/blade-runner/templates/actor/character/sheet-tabs/mods-tab.hbs}}
		</div>
		<div class="tab tab-combat container" data-group="primary" data-tab="combat">
{{> systems/blade-runner/templates/actor/character/sheet-tabs/combat-tab.hbs}}
		</div>
		<div class="tab tab-inventory" data-group="primary" data-tab="inventory">
{{> systems/blade-runner/templates/actor/character/sheet-tabs/inventory-tab.hbs}}
		</div>
		<div class="tab tab-bio container" data-group="primary" data-tab="bio">
{{> systems/blade-runner/templates/actor/character/sheet-tabs/bio-tab.hbs}}
		</div>
	</div>

	{{!-- SHEET FOOTER --}}

	{{!-- <div class="sheet-footer"></div> --}}

</form>
