{{!-- The parameters are: --}}
{{!-- {Item[]}  items  -  See actor.itemTypes.<type> --}}
{{!-- {boolean}  wrap  -  Whether to wrap items in rows or not. --}}
<div class="embedded-items flex {{#if wrap}}row wrap{{else}}column{{/if}}">
	{{#each items}}
		<div class="embedded-item flex row {{type}}" data-item-id="{{id}}">
			<div class="photo{{#if data.data.rollable}} item-roll rollable{{/if}}">
				<img src="{{img}}" title="{{name}}"/>
			</div>
			<div class="details">
				<div class="item-detail name">{{detailedName}}</div>
				{{#if (or (eq type "specialty") (eq type "upgrade"))}}
					{{#if data.data.description}}
						<div class="item-detail description">{{{data.data.description}}}</div>
					{{else}}
						{{#if hasModifier}}
							<div class="item-detail modifiers-description">{{modifiersDescription}}</div>
						{{/if}}
						{{#if data.data.special}}
							<div class="item-detail special">{{data.data.special}}</div>
						{{/if}}
					{{/if}}
				{{else}}
					{{#with data.data}}
						{{#if damage includeZero=true}}
							<div class="item-detail damage">
								{{#if blast}}
									{{localize "FLBR.Blast"}}&numsp;{{localize "FLBR.D"}}{{blast}}
								{{else}}
									{{localize "FLBR.WeaponDamage"}}&numsp;{{damage}}, {{localize "FLBR.Crit"}}&numsp;{{localize "FLBR.D"}}{{crit}}
								{{/if}}
							</div>
							{{#if range.max includeZero=true}}
								<div class="item-detail range">
									{{localize "FLBR.WeaponRangeMaxRange" range=(localize (lookup @root.config.ranges range.max))}}
								</div>
							{{/if}}
						{{else if armor includeZero=true}}
							<div class="item-detail armor">
								{{localize "ITEM.TypeArmor"}}&numsp;{{localize "FLBR.D"}}{{armor}}
							</div>
						{{/if}}
						{{#if special}}
							<div class="item-detail special">{{special}}</div>
						{{/if}}
					{{/with}}
				{{/if}}
			</div>

			<div class="item-controls">
				{{#if data.data.blast}}
					<a class="btn blast-roll" title="{{localize "FLBR.SHEET_HEADER.BlastPowerRoll"}}">
						{{{@root.config.Icons.buttons.boom}}}
					</a>
				{{/if}}
				{{#if data.data.rollable}}
					<a class="btn item-roll" title="{{localize "FLBR.BUTTON.Roll"}}">
						{{#if (eq type "armor")}}
							{{{@root.config.Icons.buttons.armor}}}
						{{else}}
							{{{@root.config.Icons.buttons.roll}}}
						{{/if}}
					</a>
				{{/if}}
				<a class="btn item-edit" title="{{localize "FLBR.BUTTON.Edit"}}">
					{{{@root.config.Icons.buttons.edit}}}
				</a>
				<a class="btn item-chat" title="{{localize "FLBR.BUTTON.ToChat"}}">
					{{{@root.config.Icons.buttons.chat}}}
				</a>
				<a class="btn item-delete" title="{{localize "FLBR.BUTTON.Delete"}}">
					{{{@root.config.Icons.buttons.remove}}}
				</a>
				<a class="btn item-delete-confirmed" style="display: none;" title="{{localize "FLBR.BUTTON.Delete"}}">
					{{{@root.config.Icons.buttons.delete}}}
				</a>
			</div>

		</div>
	{{else}}
		<div class="empty-inventory">
			{{localize "FLBR.InventoryNoItem"}}
		</div>
	{{/each}}
</div>