{{!-- The parameters are: --}}
{{!-- {Item[]}  items  -  See actor.itemTypes.<type> --}}
{{!-- {boolean}  wrap  -  Whether to wrap items in rows or not. --}}
<div class="embedded-items flex {{#if wrap}}row wrap{{else}}column{{/if}}">
	{{#each items}}
		<div class="embedded-item flex row" data-item-id="{{id}}">
			<div class="photo">
				<img src="{{img}}" title="{{name}}" width="64" height="64"/>
			</div>
			<div class="details">
				<div class="item-detail name">{{detailedName}}</div>
					{{#with data.data}}
						{{#if damage includeZero=true}}
							<div class="item-detail damage">
								{{#if blast}}
									{{localize "FLBR.Blast"}}&nbsp;{{localize "FLBR.D"}}{{blast}}
								{{else}}
									{{localize "FLBR.WeaponDamage"}}&nbsp;{{damage}}, {{localize "FLBR.Crit"}}&nbsp;{{localize "FLBR.D"}}{{crit}}
								{{/if}}
							</div>
							{{#if range.max includeZero=true}}
								<div class="item-detail range">
									{{localize "FLBR.WeaponRangeMaxRange" range=(localize (lookup @root.config.ranges range.max))}}
								</div>
							{{/if}}
						{{else if armor includeZero=true}}
							<div class="item-detail armor">
								{{localize "ITEM.TypeArmor"}}&nbsp;{{localize "FLBR.D"}}{{armor}}
							</div>
						{{/if}}
						{{#if special}}
							<div class="item-detail special">{{special}}</div>
						{{/if}}
					{{/with}}
				<div class="item-controls">
					<a class="button item-edit" title="{{localize "FLBR.BUTTON.Edit"}}">
						{{{@root.config.Icons.buttons.edit}}}
					</a>
					<a class="button item-chat" title="{{localize "FLBR.BUTTON.ToChat"}}">
						{{{@root.config.Icons.buttons.chat}}}
					</a>
					<a class="button item-delete" title="{{localize "FLBR.BUTTON.Delete"}}">
						{{{@root.config.Icons.buttons.times}}}
					</a>
					<a class="button item-delete-confirmed" style="display: none;" title="{{localize "FLBR.BUTTON.Delete"}}">
						{{{@root.config.Icons.buttons.delete}}}
					</a>
				</div>
			</div>
		</div>
	{{else}}
		<div class="embedded-item empty">
			{{localize "FLBR.InventoryNoItem"}}
		</div>
	{{/each}}
</div>