<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-header">
		<h2>{{title}}</h2>
	</div>

	<div class="sheet-body">
		{{!-- Dice --}}
		<div class="dice flex row justify-center">
			{{#each dice}}
				<div class="die-box die-d{{.}}">{{localize "FLBR.D"}}{{.}}</div>
			{{/each}}
			{{#if (lt dice.length config.maxRolledDice)}}
				<div class="die-box empty">
					<a class="button add-die" title="{{localize "FLBR.ROLLER.AddDie"}}">{{{@root.config.Icons.buttons.plus}}}</a>
				</div>
			{{/if}}
		</div>
		<hr/>
		{{!-- Modifiers --}}
		<div class="modifiers boxed-property">
			<h3>{{localize "FLBR.HEADER.Modifiers"}}</h3>
			{{#each modifiers}}
				<input type="checkbox" data-id="{{id}}" {{checked active}}/>
				<label class="checkbox" title="{{description}}">{{label}}</label>
			{{/each}}
			<input type="text" class="total" value="{{localize "FLBR.ROLLER.TotalModifier" value=modifier}}" disabled/>
		</div>
		<hr/>
		{{!-- Max Pushes --}}
		<div class="max-push boxed-property">
			<h3>{{localize "FLBR.ROLLER.MaxPush"}}</h3>
			<div class="flex row">
				<label class="checkbox">
					<input type="checkbox" name="options.unlimitedPush" {{checked options.unlimitedPush}}/>
					{{localize "FLBR.ROLLER.UnlimitedPush"}}
				</label>
				<input type="number" name="maxPush" value="{{maxPush}}" disabled{{#if options.unlimitedPush}} style="display: none;"{{/if}}/>
			</div>
		</div>
	</div>

	<div class="sheet-footer flex row space-around">
		<button id="roll" type="submit">
			{{{config.Icons.buttons.roll}}}&nbsp;
			{{#if advantage}}
				{{localize "FLBR.ROLLER.RollWithAdvantageButton"}}
			{{else if disadvantage}}
				{{localize "FLBR.ROLLER.RollWithDisadvantageButton"}}
			{{else}}
				{{localize "FLBR.ROLLER.RollButton"}}
			{{/if}}
		</button>
		<button id="cancel" type="submi">
			{{{config.Icons.buttons.times}}}&nbsp;
			{{localize "FLBR.Cancel"}}
		</button>
	</div>

</form>