<div class="yzur chat-card" data-actor-id="{{roll.options.actorId}}">
	<div class="card-content">
		<div class="dice-roll">
			{{#if flavor}}
				<h3 class="dice-flavor">{{flavor}}</h3>
			{{/if}}
			<div class="dice-result">
				<div class="dice-formula">{{formula}}</div>
				{{{tooltip}}}
				{{#if isPrivate}}
					<h4 class="dice-total">{{total}}</h4>
				{{else}}
					<h4 class="dice-total">
						{{#if roll.successCount}}
							<span class="success">
								{{{CONFIG.BLADE_RUNNER.Icons.dice.success}}}
								{{roll.successCount}}
							</span>
						{{/if}}
						{{#if (and roll.pushed roll.baneCount)}}
							{{#if roll.successCount}}, {{/if}}
							<span class="failure">{{roll.baneCount}}</span>
						{{/if}}
					</h4>
				{{/if}}
			</div>
		</div>

		{{!-- Extra info added for Year Zero rolls --}}
		{{#if showInfos}}
			{{{infos}}}
		{{/if}}

		{{!-- Push button --}}
		{{#if pushable}}
			<div class="roll-controls">
				<button class="roll-button" data-action="push">{{localize "YZUR.CHAT.ROLL.Push"}}</button>
				<button class="roll-button" data-action="cancel-push">{{localize "YZUR.CHAT.ROLL.CancelPush"}}</button>
			</div>
		{{/if}}
	</div>
</div>