<form class="{{cssClass}}" autocomplete="off">

	{{!-- <div class="sheet-header">
		<h2>{{title}}</h2>
	</div> --}}

	<div class="sheet-body">
		{{!-- Dice --}}
		<div class="dice flex row justify-center">
			{{#each dice}}
				<div class="die-box die-d{{.}}">{{localize "FLBR.D"}}{{.}}</div>
			{{/each}}
			{{#if (lt dice.length config.maxRolledDice)}}
				<div class="die-box empty add-die rollable">
					<a title="{{localize "FLBR.ROLLER.AddDie"}}">{{{@root.config.Icons.buttons.plus}}}</a>
				</div>
			{{/if}}
		</div>
		{{!-- Modifiers --}}
		<div class="modifiers boxed-property">
			<h3>{{localize "FLBR.HEADER.Modifiers"}}</h3>
			<h4>{{localize "FLBR.ROLLER.ModifierActive"}}</h4>
			<h4>{{localize "FLBR.ROLLER.ModifierName"}}</h4>
			<h4>{{localize "FLBR.ROLLER.ModifierValue"}}</h4>
			{{#each modifiers}}
				<input type="checkbox" data-id="{{id}}" {{checked active}}/>
				<div class="modifier-name" title="{{description}}">{{name}}</div>
				<div class="modifier-value">{{signedValue}}</div>
			{{/each}}
			<input type="text" class="total" value="{{localize "FLBR.ROLLER.TotalModifier" value=modifier}}" disabled/>
		</div>
		{{!-- Max Pushes --}}
		<div class="max-push boxed-property">
			<h3>{{localize "FLBR.ROLLER.MaxPush"}}</h3>
			<div class="flex row">
				<input type="number" name="maxPush" value="{{maxPush}}" disabled{{#if options.unlimitedPush}} style="display: none;"{{/if}}/>
				<input type="checkbox" name="options.unlimitedPush" {{checked options.unlimitedPush}}/>
				<div class="checkbox-label">{{localize "FLBR.ROLLER.UnlimitedPush"}}</div>
			</div>
		</div>
	</div>
	<div class="roll-mode"></div>

	<div class="sheet-footer flex row space-around">
		<button id="roll" class="dialog-button" type="submit">
			{{{config.Icons.buttons.roll}}} 
			{{#if advantage}}
				{{localize "FLBR.ROLLER.RollWithAdvantageButton"}}
			{{else if disadvantage}}
				{{localize "FLBR.ROLLER.RollWithDisadvantageButton"}}
			{{else}}
				{{localize "FLBR.ROLLER.RollButton"}}
			{{/if}}
		</button>
	</div>

</form>