<form class="{{cssClass}}" autocomplete="off">

	{{!-- SHEET HEADER --}}

	<div class="sheet-header">
		<div class="flex row align-center">
			<div class="photo">
				<img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
			</div>
			<div class="item-type">{{localize (concat "ITEM.Type" (capitalize item.type))}}</div>
		</div>
		<div class="item-name">
			<input type="text" name="name" value="{{item.name}}"/>
		</div>
	</div>

	{{!-- SHEET TABS --}}

	<div class="sheet-tabs" data-group="primary">
		<a class="sheet-tab" data-tab="info">{{{config.Icons.tabs.bio}}}&nbsp;{{localize "FLBR.TAB.Info"}}</a>
		<a class="sheet-tab" data-tab="features">{{{config.Icons.tabs.features}}}&nbsp;{{localize "FLBR.TAB.Features"}}</a>
		{{#if rollable}}
			<a class="sheet-tab" data-tab="roll">{{{config.Icons.tabs.roll}}}&nbsp;{{localize "FLBR.TAB.Roll"}}</a>
		{{/if}}
	</div>

	{{!-- SHEET BODY --}}

	<div class="sheet-body">

		<div class="tab tab-info" data-group="primary" data-tab="info">
			{{editor content=system.description target="system.description" owner=owner button=true editable=editable}}
		</div>

		<div class="tab tab-features" data-group="primary" data-tab="features">

			{{#if (eq item.type "injury")}}
				<div class="item-property item-property-category">
					<label>{{localize "FLBR.InjuryCategory"}}</label>
					<select name="system.category">
						{{selectOptions config.damageTypes selected=system.category localize=true}}
					</select>
				</div>
				<div class="item-property item-property-lethal">
					<label>{{localize "FLBR.InjuryLethal"}}</label>
					<input type="checkbox" name="system.lethal" {{checked system.lethal}}/>
				</div>
				<div class="item-property item-property-permanent">
					<label>{{localize "FLBR.InjuryPermanent"}}</label>
					<input type="checkbox" name="system.permanent" {{checked system.permanent}}/>
				</div>
				<div class="item-property item-property-death-save">
					<label>{{localize "FLBR.InjuryDeathSave"}}</label>
					<input type="text" name="system.deathSave" value="{{system.deathSave}}"/>
				</div>
				<div class="item-property item-property-healing">
					<label>{{localize "FLBR.InjuryHealing"}}</label>
					<input type="text" name="system.healing" value="{{system.healing}}"/>
				</div>
			{{else if (eq item.type "specialty")}}
				{{!-- NOTHING for SPECIALTY --}}
			{{else}}
				<div class="item-property item-property-quantity">
					<label>{{localize "FLBR.ItemQuantity"}}</label>
					<input type="text" name="system.qty" value="{{system.qty}}" data-dtype="Number"/>
				</div>
				<div class="item-property item-property-cost">
					<label>{{localize "FLBR.ItemCost"}}</label>
					<input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
				</div>
				<div class="item-property item-property-availability">
					<label>{{localize "FLBR.ItemAvailability"}}</label>
					<select name="system.availability">
						{{selectOptions config.availabilities selected=system.availability localize=true}}
					</select>
				</div>

				{{#if (eq item.type "armor")}}
					<div class="item-property item-property-armor">
						<label>{{localize "FLBR.ItemArmor"}} ({{localize "FLBR.D"}}{{system.armor}})</label>
						{{scoreSelector "system.armor" selected=system.armor}}
					</div>
				{{/if}}

				{{#if isOffensive}}
					{{#if (eq item.type "explosive")}}
						<div class="item-property item-property-blast">
							<label>{{localize "FLBR.Blast"}} ({{localize "FLBR.D"}}{{system.blast}})</label>
							{{scoreSelector "system.blast" selected=system.blast}}
						</div>
					{{/if}}
					<div class="item-property item-property-damage">
						<label>{{localize "FLBR.WeaponDamage"}}</label>
						<input type="text" name="system.damage" value="{{system.damage}}" data-dtype="Number"/>
					</div>
					<div class="item-property item-property-crit">
						<label>{{localize "FLBR.WeaponCrit"}} ({{localize "FLBR.D"}}{{system.crit}})</label>
						{{scoreSelector "system.crit" selected=system.crit}}
					</div>
					<div class="item-property item-property-damage-type">
						<label>{{localize "FLBR.WeaponDamageType"}}</label>
						<select name="system.damageType">
							{{selectOptions config.damageTypes selected=system.damageType localize=true}}
						</select>
					</div>
					<div class="item-property item-property-range">
						<label>{{localize "FLBR.WeaponRange"}}</label>
						<div class="ranges-min-max flex row">
							<select name="system.range.min">
								{{selectOptions config.ranges selected=system.range.min localize=true}}
							</select>
							<select name="system.range.max" style="margin-left: 4px;">
								{{selectOptions config.ranges selected=system.range.max localize=true}}
							</select>
						</div>
					</div>
				{{/if}}
			{{/if}}
			
			<div class="item-property item-property-special">
				<input type="text" name="system.special" value="{{system.special}}" maxlength="{{config.itemSpecialInputMaxLength}}" placeholder="{{localize "FLBR.ItemSpecial"}}"/>
			</div>

			{{#if system.modifiers}}
				<div class="item-modifiers boxed-property">
					<h4>
						{{localize "FLBR.HEADER.Modifiers"}}
						<a class="btn add-modifier" title="{{localize "FLBR.ItemAddModifier"}}">
							{{{@root.config.Icons.buttons.plus}}}
						</a>
					</h4>
{{> systems/blade-runner/templates/item/modifiers-partial.hbs}}
				</div>
			{{/if}}

		</div>

		{{#if rollable}}
			<div class="tab tab-roll" data-group="primary" data-tab="roll">
				<div class="item-property item-property-rollable">
					<label>{{localize "FLBR.ItemRollable"}}</label>
					<input type="checkbox" name="system.rollable" {{checked system.rollable}}/>
				</div>
				{{#unless (eq item.type 'armor')}}
					<div class="item-property item-property-attribute"{{#unless system.rollable}} style="display: none;"{{/unless}}>
						<label>{{localize "FLBR.ItemAttribute"}}</label>
						<select name="system.attribute">
							{{#select system.attribute}}
								{{#each @root.config.attributes}}
									<option value="{{.}}">{{localize (concat "FLBR.ATTRIBUTE." (toUpperCase .))}}</option>
								{{/each}}
							{{/select}}
						</select>
					</div>
					<div class="item-property item-property-skill"{{#unless system.rollable}} style="display: none;"{{/unless}}>
						<label>{{localize "FLBR.ItemSkill"}}</label>
						<select name="system.skill">
							{{#select system.skill}}
								{{#each @root.config.skills}}
									<option value="{{.}}">{{localize (concat "FLBR.SKILL." (capitalize .))}}</option>
								{{/each}}
							{{/select}}
						</select>
					</div>
				{{/unless}}
			</div>
		{{/if}}
	</div>

</form>
