<div class="blade-runner item-chat-card">
	<h3>{{name}}</h3>
	{{#if system.description}}
		<hr/>
		<div class="description">{{{system.description}}}</div>
	{{/if}}
	{{#if showProperties}}
		<div class="details boxed-property">
			{{#if (or (eq type "weapon") (eq type "explosive"))}}
				{{#if (eq type "explosive")}}
					<div>{{localize "FLBR.BlastPower"}}</div>
					<div>2x{{localize "FLBR.D"}}{{system.blast}}</div>
				{{/if}}
				<div>{{localize "FLBR.WeaponDamage"}}</div>
				<div>
					{{system.damage}}&numsp;
					<small>({{localize (lookup config.damageTypes system.damageType)}})</small>
				</div>
				<div>{{localize "FLBR.WeaponCrit"}}</div>
				<div>{{localize "FLBR.D"}}{{system.crit}}</div>
				<div>{{localize "FLBR.WeaponRange"}}</div>
				<div>
					{{#if (eq system.range.min system.range.max)}}
						{{localize (lookup config.ranges system.range.min)}}
					{{else}}
						{{localize (lookup config.ranges system.range.min)}} –
						{{localize (lookup config.ranges system.range.max)}}
					{{/if}}
				</div>
			{{else if (eq type "armor")}}
				<div>{{localize "FLBR.ItemArmor"}}</div>
				<div>{{localize "FLBR.D"}}{{system.armor}}</div>
			{{else if hasModifier}}
				<div class="modifiers">{{localize "FLBR.ItemModifier"}}</div>
				<div class="modifiers">{{modifiersDescription}}</div>
			{{/if}}
			{{#if system.special}}
				<div class="grid-column-all special">{{system.special}}</div>
			{{/if}}
		</div>
	{{/if}}
	{{!-- <hr/> --}}
	<div class="photo center">
		<img src="{{img}}"/>
	</div>
	<hr/>
	<div class="chat-card-footer">
		{{#if system.availability}}
			{{localize (lookup config.availabilities system.availability)}} 
		{{/if}}
		{{localize (concat "ITEM.Type" (capitalize type))}}
		{{#unless inActor}} {{link}}{{/unless}}
	</div>
</div>
