<form class="{{cssClass}}{{#if actor.isBroken}} broken{{/if}}" autocomplete="off">

	{{!-- SHEET HEADER --}}

	<div class="sheet-header">
		<div class="container-header">

			<div class="vehicle-name">
				<input type="text" name="name" value="{{actor.name}}"/>
			</div>

			<div class="avatar">
				<img class="profile" src="{{actor.img}}" data-edit="img" data-tooltip="{{actor.name}}"/>
			</div>

			<div class="vehicle-stats">
				<div class="stat-blok stat-blok-mvr">
					<div class="attribute-name">
						<label>
							<a class="mvr-roll">
								{{trim (localize "FLBR.ATTRIBUTE.MVR") 8}}
							</a>
						</label>
					</div>
					{{#with system.maneuverability}}
						<div class="attribute-score">
							{{scoreSelector "system.maneuverability" selected=this}}
						</div>
						<div class="attribute-size">
							<div class="boxed-value mvr-roll rollable">
								{{#if (lte this 0)}}
									{{localize "FLBR.NO_VALUE"}}
								{{else}}
									{{localize "FLBR.D"}}{{this}}
								{{/if}}
							</div>
						</div>
					{{/with}}
				</div>
				<div class="capacities">
					<div class="hull boxed-property {{#if (lte system.hull.value 0)}} broken{{else if (lte (ratio system.hull.value system.hull.max) 50)}} half{{/if}}">
						<h3>
							{{localize "FLBR.HEADER.Hull"}}
							{{#if (lte system.hull.value 0)}}
								<b>({{toUpperCase (localize "FLBR.Wrecked")}})</b>
							{{/if}}
							<span class="capacity-rating">{{system.hull.value}}/{{system.hull.max}}</span>
						</h3>
						{{boxes "system.hull.value" value=system.hull.value min=0 max=system.hull.max}}
					</div>
				</div>
				<div class="vehicle-properties boxed-property">
					<div class="vehicle-property vehicle-property-armor">
						<label>
							<a class="roll-vehicle-armor">
								{{localize "FLBR.ItemArmor"}} ({{localize "FLBR.D"}}{{system.armor}})
							</a>
						</label>
						{{scoreSelector "system.armor" selected=system.armor}}
					</div>
					<hr/>
					<div class="vehicle-property vehicle-property-availability">
						<label>{{localize "FLBR.ItemAvailability"}}</label>
						<select name="system.availability" data-dtype="Number">
							{{selectOptions config.availabilities selected=system.availability localize=true}}
						</select>
					</div>
					<hr/>
					<div class="vehicle-property vehicle-property-cost">
						<label>{{localize "FLBR.ItemCost"}}</label>
						<input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
					</div>
				</div>
			</div>

			<div class="vehicle-type">{{localize "TYPES.Actor.vehicle"}}</div>

			<div class="vehicle-crew boxed-property">
				<h4>{{trim (localize "FLBR.VEHICLE.Crew") 7}}</h4>
				{{#times system.passengers}}
{{> systems/blade-runner/templates/actor/vehicle/vehicle-seat-partial.hbs occupant=(lookup ../crew (add @index -1)) seat=@index}}
				{{/times}}
{{> systems/blade-runner/templates/actor/vehicle/vehicle-seat-partial.hbs seat=-1}}
			</div>

		</div>
	</div>

	{{!-- SHEET TABS --}}

	<div class="sheet-tabs" data-group="primary">
		<a class="sheet-tab" data-tab="combat">{{{config.Icons.buttons.range}}}&nbsp;{{localize "FLBR.TAB.Combat"}}</a>
		<a class="sheet-tab" data-tab="inventory">{{{config.Icons.tabs.inventory}}}&nbsp;{{localize "FLBR.TAB.Inventory"}}</a>
		<a class="sheet-tab" data-tab="bio">{{{config.Icons.tabs.bio}}}&nbsp;{{localize "FLBR.HEADER.Notes"}}</a>
	</div>

	{{!-- SHEET BODY --}}

	<div class="sheet-body">

		<div class="tab" data-group="primary" data-tab="combat">
			<div class="container">

				{{!-- Mounted Weapons --}}
				<div class="mounted-weapons boxed-property">
					<h3>{{localize "FLBR.VEHICLE.MountedWeapons"}}</h3>
{{> systems/blade-runner/templates/actor/inventory-partial.hbs items=mountedWeapons wrap=true}}
				</div>

				<div class="combat-options">

					{{!-- Altitude --}}
					<div class="vehicle-altitude boxed-property">
						<label>{{localize "FLBR.VEHICLE.Altitude"}}</label>
						<input type="text" name="system.altitude" value="{{system.altitude}}" data-dtype="Number"/>
					</div>

					{{!-- Components --}}
					<div class="boxed-property">
						<h4>{{localize "FLBR.VEHICLE.Components"}}</h4>
						<div class="vehicle-components">
							{{#each system.components}} {{log isGM}}
								<div class="vehicle-component{{#unless ../isGM}}{{#unless this}} disabled{{/unless}}{{/unless}}">
									<label class="switch">
										<input type="checkbox" id="component_{{@key}}" name="system.components.{{@key}}" {{checked this}}/>
										<span class="slider red"></span>
									</label>
									<label for="component_{{@key}}">
										<a>{{localize (concat "FLBR.VEHICLE." (capitalize @key))}}</a>
									</label>
								</div>
							{{/each}}
						</div>
					</div>

					{{!-- Actions --}}
					<div class="actions boxed-property">
						<h4>{{localize "FLBR.HEADER.Actions"}}</h4>
						{{#each actions}}
							<a class="action-roll" data-action="{{id}}" data-tooltip="{{localize hint}}">{{{@root.config.Icons.buttons.action}}}{{localize label}}</a>
						{{/each}}
					</div>

				</div>

				{{!-- Active Effects --}}
				{{#if showEffects}}
					<div class="active-effects boxed-property">
						<h4>
							{{localize "DOCUMENT.ActiveEffects"}}
							<a class="btn add-active-effect" data-tooltip="{{localize "FLBR.ACTIVE_EFFECT.Add"}}">
								{{{@root.config.Icons.buttons.plus}}}
							</a>
						</h4>
		{{> systems/blade-runner/templates/item/active-effects-partial.hbs}}
					</div>
				{{/if}}

			</div>
		</div>

		<div class="tab" data-group="primary" data-tab="inventory">
			<div class="vehicle-inventory boxed-property">
{{> systems/blade-runner/templates/actor/inventory-partial.hbs items=trunk wrap=true}}
			</div>
		</div>

		<div class="tab" data-group="primary" data-tab="bio">
			<div class="boxed-property">
				{{{editor system.description target="system.description" button=true editable=editable}}}
			</div>
		</div>

	</div>

</form>
